

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-left: 1rem;
  font-weight: bold;
  border-bottom: solid rgb(0, 0, 0) 4px;
  padding: 10px;
  cursor: pointer;
  transition: 190ms ease-in-out;
  float: left;
}
.list a {
  text-decoration: none;
  color: black;
}
.list li:hover {
  color: rgb(123, 194, 141);
  border-bottom-color: rgb(123, 194, 141);
}

nav {
  display: flex;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
.Logo-Ec {
  margin-left: 2rem;
  width: 110px;
}

.nav-items {
  display: inline-flex;
  width: 100vw;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
.nav-button {
  display: none;
  border: none;
  background: none;
  font-size: 25pt;
  padding: 0.25rem;
  cursor: pointer;
}
.Cart-logo {
  width: 40px;
}

input[type=checkbox]{
  display: none;



}
/*Show menu when invisible checkbox is checked*/


input[type=checkbox]:checked ~ .list{
  display: block;
  position: absolute;
  margin-top: 100px;
  top: 10px;
  left: 0;
  right: 0;
  box-shadow: -1px 10px 20px -10px grey;

 
}




@media (max-width: 920px) {
  nav{
    background: rgb(173, 247, 191);
  }
 .list{
   display: none;
 }
  .nav-button {
    display: block;
    position: absolute;
    
  }
  .list li{
    float: none;
    max-width:100vw;
    text-align: center;
    margin-left: 0;
    border-bottom: 1px rgb(108, 150, 119) solid ;
    
    background-color: rgb(173, 247, 191);
   
    
  }
  .list li:hover{
  background: rgb(123, 194, 141);
  color:white;

}


  .Cart-logo {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 50px;
  }

}
