body{
  background-color: rgba(255, 242, 226, 0.867);

}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 1rem;
}

.btn{
  border: none;
  background:none;
  margin-left: 50px;
  cursor: pointer;
  outline: none;
}


.App-header {
min-height:  70vh;
  display: flex;
  align-items: center;
  justify-content: center;

}



